/*
  Default style for Input component
  Boostrap or similer css framework can be used for styling
  input field.
*/

/* React Tags container */
.react-tagsinput {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

/* Input field styling */
.react-tagsinput-input {
  background: transparent;
  outline: none;
  padding:0;
  position:relative;
  width:100%;
  height:100%;
  border:none;
  background-color:transparent;
  color:rgba(0, 0, 0, 0.87);
  font:inherit;
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
}

/* Form validation */
.react-tagsinput-invalid {
  background-color: #fbd8db;
  color: #90111a;
}

.react-tagsinput-validating {
  background: #fffacd;
}
