.react-tagsinput {
  border: 1px solid #ccc;
  background: #fff;
  padding: 4px;
  overflow-y: auto;
  border-radius: 3px;
  height: 31px;
}

.react-tagsinput-tag {
  display: block;
  border: 1px solid #a5d24a;
  background: #cde69c;
  color: #638421;
  font-size: 12px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  float: left;
  padding: 1px 5px;
  margin-right: 4px;
  text-decoration: none;
  border-radius: 2px;
}

.react-tagsinput-invalid {
  background: #FBD8DB !important;
  color: #90111A !important;
}

.react-tagsinput-validating {
  background: #FFFACD !important;
}

.react-tagsinput-remove {
  font-weight: bold;
  color: #638421;
  text-decoration: none;
  font-size: 11px;
  cursor: pointer;
}

.react-tagsinput-remove:before {
  content: " x";
}

.react-tagsinput-input {
  background: transparent;
  color: #777;
  border: 0;
  font-size: 13px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  padding: 0px 5px;
  margin: 0;
  width: 80px;
  outline: none;
}
